.job-card {
    background: #fff;
    border-radius: 12px;
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
    color: #000;
    background-color: #2bb1e0;
    border-color: #1facde
}
.job-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}



.job-card h5 {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.job-card p {
    margin-bottom: 1rem;
}

.job-card .d-flex {
    align-items: center;
}

.job-skills span {
    display: inline-block;
    background: #4299e1;
    color: var(--dark);
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    font-size: 0.875rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--primary);
}

.job-lpa-text {
    display: inline-block;
    color: #0f1c24;
    font-weight: 600;
    padding: 0.5rem 0.1rem;
    border-radius: 12px;
    font-size: 1.1em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.job-lpa-text:hover {
    transform: scale(1.05);
}